@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root{
    --primary-color:#0ea5e9;
    --sec-color:#0c4a6e;
    --off-white:#e0f2fe;

 }
body{
    margin: 0px;
    font-family: 'Merriweather', serif;
    background-color: var(--primary-color);
    color: var(--sec-color);
    text-shadow: 1px 3px var(--off-white)
}
.container{
    text-align: center;
}
input{
    display: block;
    width: 50%;
    padding: 0.3rem;
    margin: auto;
}
button{
    background-color: var(--sec-color);
    color: var(--off-white);
    border: 1px solid var(--off-white);
    padding: 0.5rem 4rem;
    margin: 2rem;
    cursor: pointer;
    border-radius: 2rem;
}
#output{
   color: var(--sec-color);
   text-shadow: 0px 0px;
}